body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e293b;
    position: fixed;
}

.sidebar h4 {
    text-align: center;
}

.menu {
    display: block;
    color: #cbd5f5;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.menu:hover {
    background: #334155;
    color: white;
}

.card {
    border-radius: 12px;
}

/* Content */
.content {
    margin-left: 220px;
    width: 100%;
}

.alert-box {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    z-index: 9999;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}