{% extends "base.html" %}

{% block content %}

<h2>Edit Employee</h2>

<form method="POST">

    <div class="mb-3">
        <label>ID</label>
        <input type="text" class="form-control" value="{{ emp[0] }}" disabled>
    </div>

    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control" value="{{ emp[1] }}" required>
    </div>

    <div class="mb-3">
        <label>Role</label>
        <input type="text" name="role" class="form-control" value="{{ emp[2] }}" required>
    </div>

    <div class="mb-3">
        <label>Salary</label>
        <input type="number" name="salary" class="form-control" value="{{ emp[3] }}" required>
    </div>

    <button class="btn btn-primary">Update</button>
    <a href="/employees" class="btn btn-secondary">Cancel</a>

</form>

{% endblock %}