{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Total Animals</h5>
            <h2>{{ animals }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Employees</h5>
            <h2>{{ employees }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h5>Visitors</h5>
            <h2>{{ visitors }}</h2>
        </div>
    </div>

</div>

{% endblock %}